<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>BancAndes</title>
       
    </head>
    <body>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    BancAndes
                </a>
            </nav>

          
        </nav>


        <main>
          <div class="container" style="min-height: 580px;">


            <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
                <div>
                    <h4>
                        Lo sentimos no funciono la verificacion, seguro era su numero?
                    </h4>
                    <h6>
                        Intentelo de nuevo
                    </h6>
                    <button type="button" class="btn btn-success waves-effect waves-light"
                            onClick=" window.location.href='/cliente/mensaje' " style="text-align:center;"> 
                            Otra vez
                    </button>
    
                    
                </div>
        </div>
          
          </div>
        </main>

    </body>

    

</html>